# 現在のディレクトリをrootとする
root = true

# 全てのファイルに対する設定
[*]
# 改行コード
end_of_line = lf
# 文字コード
charset = utf-8
# ファイルの末尾に空行を追加する
insert_final_newline = true
# 行末尾の空白文字を削除する
trim_trailing_whitesapce = true
# インデント指定
indent_style = space
